// COLORS
:root {
  --color-primary: #0c73fe;

  --color-gray: #899eb9;
  --color-gray-bg: #f2f5f8;

  --color-border-gray: #eff1f4;

  --color-yellow: #ffb534;

  --color-black: #000000;
  --color-black-2: #191919;
  --color-white: #ffffff;
}
