.tours {
  padding: 2rem 0;

  .mobile-field {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: var(--color-white);
    border-radius: 0.75rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: none;
    button {
      margin-right: 1.5rem;
      @include center;
      gap: 0.4rem;
      color: var(--color-gray);

      font-size: 0.9rem;
      font-weight: 400;
      line-height: 100%;
    }
  }

  &__wrapper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 15.4rem 1fr;
    gap: 1.5rem;
  }

  &__filter {
    // overflow-y: scroll;
  }

  &__list {
    @include center;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
  }

  &__item {
    // min-height: 15rem;
    width: 100%;
    height: fit-content;
    background-color: var(--color-white);
    border-radius: 1.25rem;
    padding: 0.5rem;
    position: relative;

    display: flex;

    &-img {
      width: 15rem;
      border-radius: 0.75rem;
      aspect-ratio: 1/1;
      overflow: hidden;

      img {
        @include fullImg;
      }
    }

    &-info {
      //   background-color: blue;
      flex-grow: 1;
      padding: 1rem;
      @include spaced;
      flex-direction: column;
      align-items: flex-start;

      h3 {
        font-family: Stapel;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 100%;
        margin: 0.5rem 0;
      }

      &__status {
        @include center;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        li {
          @include center;
          gap: 0.5rem;
          color: var(--color-gray);
          img {
            height: 0.9rem;
          }
        }
      }

      &__bottom {
        width: 100%;
        @include spaced;
        align-items: flex-end;
        margin-top: 1.5rem;

        .btn {
          @include center;
          padding: 0.75rem 2.1rem;
          border-radius: 5px;
          font-size: 0.85rem;
        }
      }
    }

    &_price {
      font-family: Stapel;
      font-size: 0.7rem;
      font-weight: 400;
      line-height: 100%;
      text-decoration: line-through;

      &_discount {
        color: var(--color-primary);
        margin-top: 0.35rem;
        font-family: Stapel;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 100%;
      }
    }

    &-corner {
      position: absolute;
      top: 1rem;
      right: 1rem;
      .corner-1 {
        color: var(--color-gray);
        font-size: 0.7rem;
        font-weight: 300;
        line-height: 100%;
      }

      .corner-2 {
        color: var(--color-white);
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 100%;
        background-color: var(--color-yellow);
        padding: 0.3rem 0.65rem;
        margin-left: 0.75rem;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 768px) {
  .tours {
    .mobile-field {
      display: flex;
    }

    &__wrapper {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }

    &__filter {
      display: none;
    }

    &__item {
      padding: 0;
      flex-direction: column;

      &-img {
        width: 100%;
        aspect-ratio: 2/1;
        border-radius: 1.25rem;
      }

      &-info {
        &__bottom {
          align-items: flex-start;
          flex-direction: column;
          margin-top: 1.5rem;
          gap: 1.5rem;

          .btn {
            width: 100%;
          }
        }
      }

      &-corner {
        .corner-1 {
          display: none;
        }
      }
    }
  }
}
